<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="rule 1p" stopProcessing="true">
          <match url="^(.+)/$"/>
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="rule 2p" stopProcessing="true">
          <match url="^(.*)$"/>
          <action type="Rewrite" url="/index.php?{R:1}" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
